{{ define "main" }}
	<main>
		<h2 class="mb-0">{{ .Site.Params.iam }} {{ .Site.Author.name }}</h2>
		<p>{{ .Site.Author.slogon }}</p>
		<p>{{ .Site.Author.description | markdownify | safeHTML }}</p>
		{{ if eq .Paginator.PageNumber 1 }}
		<h3>Blog</h3>
		{{ else }}
		<h3>Blog</h3>
		{{ end }}
		<div>
			{{ $paginator := .Paginate (where .Site.RegularPages "Kind" "page") }}
			{{ range $paginator.Pages }}
				<div class="row row-mob mb-1 mb-1_5-mob gap-3">
					<a href="{{ .RelPermalink }}">{{ .Title }}</a>
				</div>
			{{ end }}
			{{ partial "paginator.html" . }}
		</div>
	</main>
	{{ partial "footer.html" . }}
{{ end }}