[submodule "themes/booklet"]
	path = themes/booklet
	url = https://github.com/sunnymix/hugo-booklet.git
[submodule "themes/minima"]
	path = themes/minima
	url = https://github.com/sunnymix/hugo-theme-minima.git
