:root {
	--pm: #0fa0ce;
	--bd: #e1e1e1;
	--bg: #fff;
	--ft: #222;
	--tag: #999;
	--copy: #aaa;

	--w-mobile: 720px;

	--bg-pre: #fafafa;
	--bd-pre: #e0e1e5;

	--lh: 1.5;
}

/* ================== Rewrite ================== */

._box {
	border-collapse: collapse;
}
._box,
._box_row,
._box_cell {
	border: 0 none;
	padding: 0;
	margin: 0;
}

._box_cell {
	vertical-align: middle;
}

._nav {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 20px;
}

._nav_item + ._nav_item {
	padding-left: 20px;
}

._nav_anchor {
	display: inline-block;
	padding: 20px 5px;
	display: inline-block;
	text-transform: uppercase;
}

._logo {
	width: 22px;
	height: 22px;
	border-radius: 50%;
}

/* ================== History ================== */

html {
	overflow-y: scroll;
}

html.dark {
	--bg: #262d33;
	--ft: #eee;
	--bd: #555;
	--tag: #999;

	--ovo-ft: var(--ft);
	--ovo-bdr: var(--bd);
	--ovo-bg: var(--bg);
	--ovo-bg-hvr: #555;
	--ovo-tag: #30363d;

	--bg-pre: #22272e;
	--bd-pre: #444c56;
}

html.light #theme-switcher .light,
html.dark #theme-switcher .dark {
	display: block;
}

html.light #theme-switcher .dark,
html.dark #theme-switcher .light {
	display: none;
}

body.wide {
	--w-mobile: 1080px;
}

body {
	font-family: Helvetica, sans-serif;
	max-width: var(--w-mobile);
	padding: 0 20px 20px 20px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 400;
	color: var(--ft);
	background-color: var(--bg);
	/*transition-property: background-color, border-color, color;*/
	/*transition-duration: .5s;*/
}

h1,h2,h3,h4,h5 {
	font-weight: 700;
	line-height: var(--lh);
}

p {
	margin-top: 0;
	line-height: var(--lh);
	text-align: left;
}

hr {
	margin: 15px 0;
	border-width: 0;
	border-top: 1px solid var(--bd);
}

pre {
	background-color: var(--bg-pre);
	padding: 10px;
	border: 1px solid var(--bd-pre);
}

pre,
code {
	word-wrap: break-word;
	word-break:  word-break;
	white-space: break-spaces;
	font-family: Verily, "SFMono", "SF Mono", "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 13px;
}

a {
	text-decoration: none;
}

a:not(.icon) {
	color: inherit;
	/*text-decoration: underline;*/
	/*text-decoration-color: var(--pm);*/
	/*background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0) 50%, var(--pm) 50% );*/
	/*background-size: 100% 200%;*/
	/*transition: background-position .2s ease-in-out;*/
}

a:hover {
	/*background-position: 0 100%;*/
	/*color: var(--pm);*/
	text-decoration: underline;
}

a.icon:hover {
	/*transform: translateY(-5px);*/
	/*transition: transform .3s ease-in-out;*/
}

/* Ul */
ul.clear,
ul.clear ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.clear ul {
	margin-left: 20px;
}

/* Tree */
.tree {
	width: 300px;
	padding: 20px 20px 20px 0;
}

.tree-item-link {
	/*display: inline-block;*/
	display: block;
	line-height: var(--lh);
}

.tree-item-link.active {
	/*color: var(--pm);*/
	color: var(--tag);
}

/* Main  */
.main {
	animation: showup 0.5s;
}

/* Row  */
.row {
	display: flex;
	align-items: center;
}

.col {
	display: flex;
	flex-direction: column;
}

.jc-bt {
	justify-content: space-between;
}

.as-s {
	align-self: start;
}

.ai-c {
	align-items: center;
}

.ai-s {
	align-items: flex-start;
}

.flex-fixed {
	flex-grow: 0;
	flex-shrink: 0;
}

.flex-extend {
	flex-grow: 1;
}

/* Gap */
.gap-0_5 {
	gap: .8rem;
}

.gap-1 {
	gap: 1rem;
	row-gap: 1rem;
}

.gap-2 {
	gap: 2rem;
	row-gap: 2rem;
}

.gap-3 {
	gap: 3rem;
	row-gap: 3rem;
}

/* Font size */
.lg-1 {
	font-size: 1.2em;
}

.sm-1 {
	font-size: .8em;
}

/* Padding  */
.plr-1 {
	padding: 0 1em;
}

/* Margin */
.mtb-1 {
	margin: 1em 0;
}

.mtb-2 {
	margin: 2em 0;
}

.mb-1 {
	margin-bottom: 1em;
}

.mb-0 {
	margin-bottom: 0;
}

.mt-2 {
	margin-top: 2em;
}

.ml-1 {
	margin-left: 1em;
}

.mr-1 {
	margin-right: 1em;
}

/* Width */
.mw-6 {
	min-width: 6em;
}

.c-tag {
	color: var(--copy);
}

.btn {
	cursor: pointer;
}

.hidden {
	display: none;
}

.tag-pm {
	font-size: .7em;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	background-color: var(--pm);
	border-radius: 20px;
	padding: 2px 8px;
}

details.toc ul {
	list-style-type: none;
	padding-inline-start: 1em;
	margin: 0;
}

details.toc ul>li {
	margin: 1em 0;
}

@keyframes showup {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}
