<div class="article">
	<h1>{{ .Title }}</h1>
	<div class="sm-1 mtb-1 c-tag">
		{{- if .Params.Author -}}
		<span>{{ .Params.Author }} </span>
		{{- end -}}

		{{- if .Date -}}
		<span>Posted at {{ dateFormat .Site.Params.dateform .Date }}. </span>
		{{- end -}}

		{{- if .Lastmod -}}
		<span>Updated at {{ dateFormat .Site.Params.dateform .Lastmod }}. </span>
		{{- end -}}

		{{- if .Draft -}}
		<span>(DRAFT) </span>
		{{- end -}}
	</div>
	<p>{{ .Description }}</p>
	<div class="md">
	{{- .Content -}}
	</div>
	<div class="mtb-2"><span class="sm-1 c-tag">(END)</span></div>
</div>