<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#262d33">
	<title>
	{{- if .IsHome -}}
		{{ .Site.Title }} {{ if .Site.Params.subtitle }} - {{ .Site.Params.subtitle }} {{ end }}
	{{- else -}}
		{{ .Title }} - {{ .Site.Title }}
	{{- end -}}
	</title>
	<link rel="shortcut icon" href="/favicon.png" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/md.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/syntax.css" />
	<script src="/js/main.js"></script>
</head>